page-login {
.header{
    background-color: darkslategray !important;
}
.back{
  //  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu_elJd674SyrpNGI50AqfF4RvUDy9xt0WAHfXERFGwAq-zbXE");
    // background-attachment: fixed;
    background-color: grey;
    justify-content: center;
}

}
