page-wishlist-hotels {
    .card-title {
        position: absolute;
        bottom:20px;
        font-size: 1.3em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        margin-left: 5px;
      }
    .acb{
        padding-left: 35px;
    }
    .ab{
        color:#6f6c6c;
        justify-content: space-around;
    }
    
}
