page-home {
    .back{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqH6SdFCig-es7ZuGXBVOabJobizekjPEq1ZWdQ9smdXYiB9Yn");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

}
