
<ion-header>

    <ion-navbar>
      <ion-title>My Bookings</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content no-padding>
      
    <ion-card (click)="details(a)" *ngFor="let a of deposits | async" > 
      
      <img src="{{a.image}}"/>
      <div class="card-title">{{a.name}}</div>
      <ul class="list-inline list-inline-dots mb-0">
        <li class="list-inline-item" style="float: right"> <div *ngIf="a.status">
          <ion-icon name="heart" color="danger"  class="mr-2 mt-1" (click)="changeWishlist(a)"></ion-icon>
          </div></li>
        <li class="list-inline-item" style="float: right"><div *ngIf="!a.status">
          <ion-icon ios="ios-heart-outline" md="md-heart-outline"   class="mr-2 mt-1" (click)="changeWishlist(a)"></ion-icon>
        </div></li>
        <li class="list-inline-item ">
          <ion-badge color="secondary" >{{a.rating}}</ion-badge>
        </li>
        <li class="list-inline-item ab">  {{a.review}} .
         
          {{a.comment}} <ion-icon ios="ios-text" md="md-text"></ion-icon></li>
        <li class="list-inline-item mr-2"style="float: right"> <ion-icon name='pricetag' color="danger"></ion-icon>
          {{a.price}}</li>
      </ul>
    </ion-card>

      
  </ion-content>
  