page-detail {
.abc{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    width: 100%;
    padding: 0px;
}
.popover-content {
    top: 175px !important;
}
.marg{
    margin-left: 10px;
}
hr{
    background-color: rgba(0, 0, 0, 0.48) !important;
    margin: 20px 10px;
}
.Read{
    float:right;
    
    color:orangered;
}
.labelColor{
    color: #e61111;
}
.rightFloat{
    float: right;
}
.colorGrey{
color: #272020b8;
}
}
